body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 465px;
    margin: 0 auto;
   
   
}
header {
	text-align: center;
	border-bottom: 2px solid rgb(24, 164, 164);}
h1 { 
    font-size: 150%;
    margin-bottom: .5em;
}
h2 {
	font-size: 140%;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: .2em;
}
img {
	width: 150px;
	height: 150px;
}
select {
	width: 150px;
}
#menu h2 {
	padding-top: 1em;

}
#menu p {
	margin-top: 0;
	margin-bottom: .7em;
}
ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}
ul li {
	list-style-type: none;
	display: inline;
    padding: 5px 0 5px 0;
}
#total {
	margin-top: .5em;
	margin-bottom: .7em;
}
input {
    width: 150px;
    margin-right: 5px;
}

.order {
	margin: auto; 
	width: 30%;
}

.buttons {
	margin: auto; 
	width: 70%;
}
#logo {
	width: 75px;
	height: 75px;
}
